.ant-menu {
    &.header__menu {
        border: none;

        .ant-menu-item {
            margin-bottom: 0;
            letter-spacing: 0.08em;

            &-selected {
                background-color: transparent;

                a {
                    color: @black;
                }
            }

            &-content {
                overflow: none;
            }

            &:active {
                background-color: transparent;
            }

            a {
                position: relative;

                &:hover {
                    color: @black;
                }
            }
        }
    }
}
