// Breakpoints
@widescreen-md: 1600px;
@widescreen: 1366px;
@desktop: 1024px;
@tablet: 768px;
@mobile: 480px;
@mobile-sm: 320px;


// colors

@white: #ffffff;
@gray: #767676;
@gray1: #d1d1d1;
@black: #000000;

// Base
@base-font: "Arial", Helvetica, sans-serif;
@secondary-font: "Arial", Helvetica, sans-serif;

// heading
@heading-font: @base-font;
@heading-font-weight: 400;

@container-width: 1180px;

@font-size-base: 14px;
@animation-speed: 0.3s;

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
@screen-xs: @mobile-sm;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: @mobile;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: @tablet;

// Large screen / wide desktop
@screen-lg: @desktop;

// Extra large screen / full hd
@screen-xl: @widescreen;

// Extra extra large screen / large desktop
@screen-xxl: @widescreen-md;

// Menu
// ---
@menu-inline-toplevel-item-height: 40px;
@menu-item-height: 40px;
@menu-item-group-height: @line-height-base;
@menu-collapsed-width: 80px;
@menu-bg: @component-background;
@menu-popup-bg: @component-background;
@menu-item-color: @gray;
@menu-inline-submenu-bg: @background-color-light;
@menu-highlight-color: @primary-color;
@menu-highlight-danger-color: @error-color;
@menu-item-active-bg: @primary-1;
@menu-item-active-danger-bg: @red-1;
@menu-item-active-border-width: 3px;
@menu-item-group-title-color: @text-color-secondary;
@menu-item-vertical-margin: 0;
@menu-item-font-size: @font-size-base;
@menu-item-boundary-margin: 8px;
@menu-item-padding-horizontal: 20px;
@menu-item-padding: 0 @menu-item-padding-horizontal;
@menu-horizontal-line-height: 46px;
@menu-icon-margin-right: 10px;
@menu-icon-size: @menu-item-font-size;
@menu-icon-size-lg: @font-size-lg;
@menu-item-group-title-font-size: @menu-item-font-size;