.header {
    position: relative;
    z-index: 5;
    padding: 15px 0;

    .container {
        max-width: 100%;
    }

    &__logo {
        width: 60px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__devider {
        height: 32px;
        border-left: 1px solid @gray1;
    }
}